#ulMain {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3b5998;
}

#ulAdPage {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

#liMain {
    float: right;
    font-family: "Lucida Grande";
}

#liAdPage {
	width: 25%;
	float: left;
    font-family: "Lucida Grande";
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #355088;
}

.active {
    background-color: #3b5998;
}

#font {
	padding: 0px;
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.0em;
}

#fontAd {
	padding: 0px;
    color: gray;
    font-size: 1.0em;
}

#fontPost {
	padding: 0px;
    color: #696969;
    font-size: 1.0em;
    padding-right: 15px;
    float: right;
}

#iconShortcut {
	padding: 0px;
    color: #3b5998;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.0em;
}

#iconShortcutSalmon {
	padding: 0px;
    color: #FA8072;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.0em;
}

#iconShortcutBrown {
	padding: 0px;
    color: #CD853F;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.0em;
}

#iconShortcutSkyblue {
	padding: 0px;
    color: #7b68ee;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.0em;
}

#fontOfficial {
	float: left;
	padding-top: 10px;
	padding-left: 100px;
	padding-right: 0px;
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.8em;
}

#fontSearchBar {
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 0px;
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 275px;
  padding-left: 0px;
  /*position: relative;*/
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px ;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #111;
}

.searchTerm:focus{
  color: #111;
}

.searchButton {
  position: absolute;  
  right: 845px;
  width: 40px;
  height: 30px;
  border: 1px solid ;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

#background {
	background-color: #dfe3ee;
}

#ads {
	width: 23%;
	height: 230px;
	float: right;
	/*background-color: pink;*/
	border-radius: 5px;
}

#shortcuts {
	width: 25%;
	height: 1300px;
	float: left;
}

#copyrights {
	width: 100%;
	height: 100px;
	float: left;
	position: center;
	text-align: center;
}

#postSection {
	width: 50%;
	height: 190px;
	float: left;
	background-color: white;
	border-radius: 5px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-style: solid; 
	border-width: 0.5px; 
	border-color: #c8ccd6;
}

#postSectionPic {
	width: 50%;
	height: 500px;
	float: left;
	background-color: white;
	border-radius: 5px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-style: solid; 
	border-width: 0.5px; 
	border-color: #c8ccd6;
}

#adsStyle {
	background-color: white; 
	border-radius: 5px;
	height: 260px;
	padding-top: 10px;
	padding-left: 10px;
}

#shortcutStyle{
	font-size: 1.0em;
	padding-bottom: 5px;
	padding-right: 10px;
	list-style-type: none;
	font-family: "Lucida Grande";
}


#liShortcut a {
    display: block;
    color: black;
    text-align: left;
    padding: 8px 10px;
    text-decoration: none;
}

#liShortcut a:hover:not(.active) {
    background-color: #f7f7f7;
}

#divider {
	width: 100%;
	float: left;
	padding-left: 50px;
	font-family: "Lucida Grande";
	color: #696969;
	font-weight: bold;
	padding-bottom: 10px;
}

#dividerRight {
	float: left;
	padding-left: 0px;
	font-family: "Lucida Grande";
	color: #696969;
	padding-bottom: 10px;
	width: 50%
}

#interactionIcon {
	color: #808080;
	font-size: 1.5em;
	float: left;
}

textarea {
	width: 97%;
	height: 70px;
	border-radius: 5px;
	font-family: "Lucida Grande";
	font-size: 1.0em;
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
	resize: none;
}

#profilepic {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	float: left;	
}

#profilepicMain {
	width: 30px;
	height: 30px;
	border-radius: 30px;	
}

#ulNavigationPost {
	list-style-type: none;
	margin: 0;
    padding: 0;
}

#liNavigationPost {
	font-family: "Lucida Grande";
}

#aNavigationPost {
	height: 10px;
	width: 100px;
	float: left;
	padding-bottom: 10px;
	/*display: block;*/
    color: black;
    text-align: justify;
    /*padding: 4px 80px;*/
    text-decoration: none;
    color: #3b5998;
}

#liNavigationPost a:hover:not(.active) {
    background-color: #c5c5c5;
    border-radius: 2px;
}


#iconsNagivationPost {
	color: black;
	padding-right: 5px;
}

#PostName {
	padding-left: 8px;
	float: left;
	margin: 0;
	color: #3B5998;
	font-weight: bold;
	padding-bottom: 0px;
}

#Interaction {
	padding-left: 8px;
	padding-bottom: 0px;
	float: left;
	margin: 0;
	color: black;
	font-weight: bold;
	padding-top: 7px;
	padding-right: 15px;
}

#TimeAndDate {
	float: left;
	font-size: 0.8em;
	width: 85%;
	padding-left: 10px;
	color: #808080;
}

hr {
	color: #D3D3D3;
	width: 100%;
	background: #333;
	/*padding-left: 10px;*/

	/*padding-right: 40px;*/
}

#liAdPage a:hover:not(.active){
	background-color: white;
}

#liInline {
	list-style-type: none;
	display: inline;
	color: gray;
}

#liInline a:hover:not(.active){
	background-color: #dfe3ee;
	color: gray;
}

#seeAllFormat {
	font-size: 1.0em; 
	float: right; 
	padding-right: 10px; 
	text-decoration: none;
}